<div class="modal fade" id="loginForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Login form:</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form action="/" method="POST" class="validationForm" novalidate>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="username">User name:</label>
                                <input autofocus id="username" name="username" type="text" class="form-control"
                                    placeholder="Username" required>
                                <div class="invalid-feedback">
                                    Please fill the field above.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" name="password" id="passwprd" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please fill the field above.
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="form-group">
                                    <input class="btn btn-success1" type="submit" value="Login" style="border-radius: 1rem;">
                                </div>
                                <button type="button" class="btn btn-danger1" data-dismiss="modal">
                                    Close
                                </button>
                                <div>
                                    <samll>
                                        <a href="/forgot-password">Forgot password?</a>
                                    </samll>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>