<% layout('layouts/boilerplate') -%>

<div id="about">
    <!-- <section id="cover2">
        <img src="/assets/images/cover.png"  alt="Cover Image" >
    </section> -->
    
    <section id="aboutImg">
        <p>
            نحن مجتمع من محبي القراءة بجامعة الإسكندرية بدأنا بحلم بسيط عام 2017، ونطمح للارتقاء بثقافة مجتمعنا من خلال مكتبة للاستعارة والأنشطة الثقافية المتنوعة
        </p>
        <img src="/assets/images/about.jpg"  alt="Cover Image" >

        <div id="contact">
            <a href="https://www.facebook.com/BookophiliaAlex/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/bookophiliaalex/?igshid=11tombuvj6g3p&fbclid=IwAR2yI5WrAHylKGDT3cyrhoDCFGO4N5hrq_vJ57jUVCEOJYASf542uemmGT0"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/BookophiliaAlex?fbclid=IwAR3VFIEJ-Y21W7t8svCaHX-OUjt0iFJNanmi2EBOop2j2U2cfBrlPqYwzhQ"><i class="fab fa-twitter"></i></a>
        </div>

    </section>    
</div>




