<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookophilia</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mada">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/css/all.css">
    <link rel="stylesheet" href="assets/stylesheets/css/app.css">
</head>
<body>
<section id="cover">
    <div class="container">
        <img src="/assets/images/cover.png"  alt="Somthing went wrong">
        <div class="next">
            <a href="/categories"><i class="fas fa-chevron-circle-right"></i></a>
        </div>
        <p>
            نحن مجتمع من محبي القراءة بجامعة الإسكندرية بدأنا بحلم بسيط عام 2017، ونطمح للارتقاء بثقافة مجتمعنا من خلال مكتبة للاستعارة والأنشطة الثقافية المتنوعة
        </p>
    </div>

    <%if (success && success.length){%>
        <div class="container">
            <div class="my-alert bg-success alert alert-dismissible fade show" role="alert">
                <%= success %>
                <button type="button" class="close closer" data-dismiss="alert" aria-label="Close">
                  <i class="far fa-times-circle" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    <%}%>

    <%if (error && error.length) { %>
        <div class="container">
            <div class="my-alert bg-danger alert alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="close closer" data-dismiss="alert" aria-label="Close">
                  <i class="far fa-times-circle" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    <% } %>
</section>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

